:root {
  --primary-font: 'Inter-Variable';
  --secondary-font: 'PressStart2P';
  --bold-weight-font: 715;
  --regular-weight-font: 400;

  --page-gradient:
    repeating-linear-gradient(90deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);

  --inline-rubber: clamp(23.438rem, 100vw + 0rem, 43.75rem);

  --text-color: #000;
  --background-color: #fff;
  --outline-color: var(--background-color);

  
  --animation-contour-color: #000;
  --animation-fill-color: #f00;
  --sparks-color: var(--animation-fill-color);
  
}